# Hamoye Test 01

In [2]:
import pandas as pd

# The URL to the CSV file on GitHub
data_url = './data/FoodBalanceSheets_E_Africa_NOFLAG.csv'

# Load the dataset
df = pd.read_csv(data_url, encoding='latin-1')

# Select columns 'Y2017' and 'Area'
data = df[['Area', 'Y2017']]

# Perform a groupby operation on 'Area'
grouped_data = data.groupby('Area').sum()

# Find the area with the highest sum in 2017
highest_sum_area = grouped_data['Y2017'].idxmax()

print(highest_sum_area)

Nigeria

In [4]:
# Filter the data for Madagascar and the element corresponding to protein supply
protein_supply = df[(df['Area'] == 'Madagascar') & (df['Element'] == 'Protein supply quantity (g/capita/day)')]

# Sum the protein supply for the year 2015
total_protein_2015 = protein_supply['Y2015'].sum()

total_protein_2015

173.04999999999998

In [12]:
# Find the total number of missing data points for 2014
missing_data_2014 = df['Y2014'].isna().sum()

# Find the total number of data points
total_data_points = df['Y2014'].shape[0]

# Calculate the percentage of missing data
percentage_missing = (missing_data_2014 / total_data_points) * 100

# Format the percentage to three decimal places
formatted_percentage = f"{percentage_missing:.3f}"

print(missing_data_2014)
print(formatted_percentage)

1589
2.607

In [13]:
# Perform a groupby sum aggregation on 'Item' for the years 2015 and 2018
wine_production = df[df['Item'] == 'Wine'].groupby('Item').agg({'Y2015': 'sum', 'Y2018': 'sum'}).reset_index()

wine_production_2015, wine_production_2018 = wine_production.iloc[0]['Y2015'], wine_production.iloc[0]['Y2018']
wine_production_2015, wine_production_2018

(4251.81, 4039.32)

In [14]:
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

In [15]:
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

In [16]:
# Calculate the mean and standard deviation for the year 2017 across the whole dataset
mean_2017 = df['Y2017'].mean()
std_dev_2017 = df['Y2017'].std()

# Format the mean and standard deviation to two decimal places
formatted_mean_2017 = f"{mean_2017:.2f}"
formatted_std_dev_2017 = f"{std_dev_2017:.2f}"

formatted_mean_2017, formatted_std_dev_2017

('140.92', '1671.86')

In [17]:
# Perform a groupby operation on 'Element' and find the year with the highest sum of 'Stock Variation'
stock_variation = df[df['Element'] == 'Stock Variation'].groupby('Element').agg({'Y2014': 'sum', 'Y2015': 'sum', 'Y2016': 'sum', 'Y2017': 'sum'})
stock_variation = stock_variation.T # Transpose to make each year a row
highest_stock_variation_year = stock_variation.idxmax()[0] # Find the index (year) of the max value

highest_stock_variation_year

C:\Users\mniti\AppData\Local\Temp\ipykernel_25804\3788186845.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  highest_stock_variation_year = stock_variation.idxmax()[0] # Find the index (year) of the max value

'Y2014'

In [18]:
# Calculate the correlation of 'Element Code' with each of the years 2014, 2015, 2016, and 2017
correlation_with_element_code = df[['Element Code', 'Y2014', 'Y2015', 'Y2016', 'Y2017']].corr()['Element Code']

# Drop the correlation of 'Element Code' with itself
correlation_with_element_code = correlation_with_element_code.drop('Element Code')

# Find the year with the least correlation
least_correlation_year = correlation_with_element_code.idxmin()

least_correlation_year, correlation_with_element_code[least_correlation_year]

('Y2016', 0.02344399758496104)

In [19]:
df.shape

(60943, 12)

In [21]:
y = [(2, 4), (7, 8), (1, 5, 9)]

In [26]:
x = y[1][-1]
x

7

In [27]:
# Perform a groupby operation on 'Element' and sum the values for the year 2017
processing_sum_2017 = df[df['Element'] == 'Processing']['Y2017'].sum()
processing_sum_2017

292836.0

In [28]:
array  = ([[94, 89, 63],

             [93, 92, 48],

             [92, 94, 56]])

In [37]:
print(array[:2,1:])

TypeError: list indices must be integers or slices, not tuple

In [38]:
# Calculate the total number of unique countries in the dataset
unique_countries = df['Area'].nunique()
unique_countries

49

In [40]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ['Age','Nationality','Overall']

In [41]:
pd.DataFrame(lst, columns=col, index=[1, 2, 3])

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

In [42]:
# Group the data by 'Area' and sum 'Y2017', then sort to find the 7th lowest sum
grouped_by_area = df.groupby('Area')['Y2017'].sum().sort_values()

# Get the 7th lowest sum's area name
seventh_lowest_area = grouped_by_area.nsmallest(7).index[-1]
seventh_lowest_area

'Guinea-Bissau'